@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263.4 100% 95%;
    --foreground: 263.4 5% 10%;
    --card: 263.4 50% 90%;
    --card-foreground: 263.4 5% 15%;
    --popover: 263.4 100% 95%;
    --popover-foreground: 263.4 100% 10%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 225.39999999999998 30% 85%;
    --muted-foreground: 263.4 5% 35%;
    --accent: 225.39999999999998 30% 80%;
    --accent-foreground: 263.4 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 263.4 5% 90%;
    --border: 263.4 30% 50%;
    --input: 263.4 30% 26%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 263.4 50% 10%;
    --foreground: 263.4 5% 90%;
    --card: 263.4 50% 10%;
    --card-foreground: 263.4 5% 90%;
    --popover: 263.4 50% 5%;
    --popover-foreground: 263.4 5% 90%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263.4 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 225.39999999999998 30% 25%;
    --muted-foreground: 263.4 5% 60%;
    --accent: 225.39999999999998 30% 25%;
    --accent-foreground: 263.4 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 263.4 5% 90%;
    --border: 263.4 30% 26%;
    --input: 263.4 30% 26%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .h-cover {
    @apply min-h-[calc(86vh)];
  }
  .wrapper {
    @apply w-full max-w-7xl p-5 md:px-10 lg:mx-auto xl:px-0;
  }
}

/* browser scrollbar */
::-webkit-scrollbar {
  @apply h-1 w-[6px] bg-primary/20;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary/70;
}
